@tailwind base;

@keyframes fa-blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fa-blink {
    -webkit-animation: fa-blink 5s linear infinite;
    -moz-animation: fa-blink 5s linear infinite;
    -ms-animation: fa-blink 5s linear infinite;
    -o-animation: fa-blink 5s linear infinite;
    animation: fa-blink 5s linear infinite;
}

h1 {
    @apply text-2xl;
    @apply mb-4;
    @apply font-bold;
}
h2 {
    @apply text-xl;
    @apply mb-4;
    @apply font-bold;
}
h3 {
    @apply text-lg;
    @apply mb-4;
    @apply font-bold;
}

p {
    @apply mb-4;
}

@tailwind components;
@tailwind utilities;